@import "../../assets/styles/variables.scss";

.c-inner {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  main {
    padding: 40px 30px 30px 40px;
    overflow: auto;
    scroll-behavior: smooth;
  }

  &__up-btn {
    display: block;
    position: fixed;
    bottom: -4px;
    right: 30px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .c-inner {
    main {
      padding: 40px 15px 10px 20px;
    }
  }
}
