@import "../../assets/styles/base.scss";

.button {
  @extend .c-btn_text;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: $main_black;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;

  svg {
    margin-right: 7px;
  }

  &:hover {
    background: $main_green;
    border-color: $main_green;
    cursor: pointer;
  }
}

.panel__btn {
  margin-top: auto;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .panel__btn {
    background: $main_green;
    padding: 5px 6px;
    span {
      display: none;
    }
  }
}
