@import "../../assets/styles/base.scss";

.button {
@extend .c-button, .c-button--active;
  margin: 0 auto;

  svg {
    margin-right: 7px;
  }
}

.panel__btn {
  margin-top: auto;
  align-self: center;
}

.skills__btn {
  position: absolute;
  top:-50px;
  right: 0;
}

@media screen and (max-width: 800px) {
  .panel__btn {
    background: $main_green;
    padding: 5px 6px;
    span {
      display: none;
    }
  }
}
