@import "../../assets/styles/base.scss";

.portfolioList {
  &__keys {
    margin-bottom: 20px;

    li {
      @extend .c-nav_text;

      display: inline-block;
      padding-left: 10px;

      &:first-child {
        padding-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.active {
  color: $main_green;
}

.not-active {
  color: $main_black;
}
