@import "../../assets/styles/base.scss";

.expertiseItem {
  &__container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &__company {
    @extend .c-box_title;
    
    margin: 0;
    margin-bottom: 5px;
  }

  &__date {
    @extend .c-box_title ;
    font-weight: normal;
    color: $grey_text;
  }

  &__description {
    @extend .c-text;

    margin: 0;
  }
}
