@import "../../assets/styles/base.scss";

.address {
  &__container {
    display: flex;
    flex-flow: column nowrap;
  }

  &__contact {
    @extend .c-box_title;

    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 0;

    &:hover {
      cursor: pointer;
    }

    &-details {
      display: inline-flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__icon {
    color: $main_green;
    margin-right: 20px;
  }

  &__link {
    font-weight: normal;
    color: $grey_text;
  }
}
