@import "../../assets/styles/base.scss";

.navigation {
  &__link {
    @extend .c-nav_text;
    
    color: $grey_text;
    text-decoration: none;

    &:hover,
    &:active {
      color: $main_green;
    }

    i {
      display: inline-block;
      width: 14px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .navigation {
    &__link {
      span {
        display: none;
      }
    }
  }
}
