@import "../../assets/styles/base.scss";

.timelineItem {
  &__date {
    @extend .c-box_title;

    padding: 15px;
    background: #fff;
    position: relative;
    left: -15px;
  }

  &__event {
    position: relative;
    background: #eee;
    padding: 15px;

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #eee;
    }
  }

  &__title {
    @extend .c-box_title;

    margin: 0;
    margin-bottom: 5px;
  }

  &__text {
    @extend .c-text;

    margin: 0;
  }
}
