@import "../../assets/styles/base.scss";

.box {
  &__container {
    margin-bottom: 50px;
  }
  &__title {
    @extend .c-section_title;

    color: $main_green;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__content {
    @extend .c-text;

    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .box {
    &__container {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
}
