.photobox {
  &__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 500px;
    background-color: $main_black;
    margin: 0 auto;

    &--panel {
      width: 100px;
      margin-bottom: 40px;
    }
  }

  &__img {
    width: 163px;
    height: 163px;
    border: 1px solid $main_white;
    border-radius: 50%;
    margin-bottom: 10px;

    &--panel {
      width: 100px;
      height: 100px;
    }
  }

  &__name {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
    color: $main_white;
    margin-bottom: 10px;

    &--panel {
      font-size: 16px;
      line-height: 120%;
      color: $main_white;
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    color: $main_white;
    margin-bottom: 10px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $main_white;
    text-align: center;
    margin: 0;
  }
}
